version: '3.7'
services:

  # SQL database
  postgres:
    image: "postgres:14.6"
    volumes:
      - "familie-ef-sak-data:/var/lib/postgresql/data"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "test"
      POSTGRES_DB: "familie-ef-sak"

  familie-brev:
    image: "ghcr.io/navikt/familie-brev:latest"
    ports:
      - "8001:8001"

volumes:
  familie-ef-sak-data: