version: '3.7'
services:

  # SQL database
  postgres:
    image: "postgres:11.5"
    volumes:
      - "familie-ef-sak-data:/var/lib/postgresql/data"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "test"
      POSTGRES_DB: "familie-ef-sak"

#  familie-brev:
#    image: "docker.pkg.github.com/navikt/familie-brev/familie-brev:latest"
#    ports:
#      - "8001:8001"

volumes:
  familie-ef-sak-data: